
.praise-container {
    background-color: #ffffff;
    border-radius: 32px;
    padding: 28px 32px;
    text-align: center;
    align-items: center;
    width: 354px;
    margin: 10px;
}

.praiseuser-image {
    display: block;
    width: 56px;
height: 56px;
margin: 0 auto 15px;
}

.praisefull-name {
    font-weight: 600;
font-size: 16px;
margin-top: 5px;
}

.praiseuser-name {
    font-size: 12px;
}

.praisetime-stamp {
    font-size: 12px;
    font-weight: 400;
    color: black;
}
