
.hive-gallery {
    background-image: url(../../../assets/gallery-background.png);
}

.gallery-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 50px 0 30px;
}

.gallery-title {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 10px;
}

.see-more {
    background: none;
    border: none;
    font-weight: 500;
    display: block;
    margin:auto ;
    font-size: 16px;
    padding: 0 0 30px;
}

.gallery-image {
    margin: 5px;
}

.gallery-column {
    display: flex;
    flex-direction: column;
   align-items: center;
}

@media (min-width: 560px) {
    .gallery-row {
        width: 80%;
        margin: auto;
    }

    .gallery-column {
        flex-direction: row;
    }
 }

@media (min-width: 960px) {
   .gallery-row {
       width: 80%;
       margin: auto;
       flex-direction: row;
   }

   .gallery-column {
    flex-direction: column;
}
}