
.apply {
    background-color: var( --darkblue-color);
    color: #ffffff;
    padding: 45px;
    text-align: center;
    width: 100%;
}

.apply-title {
font-size: 40px;
font-weight: 700;
margin: 7px;
}

#button-color {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    margin: 30px 0;
    padding: 8px 40px;
}

.apply-p {
    width: 80%;
    margin: auto;
}

@media (min-width:968px) {
    .apply-p {
        width: 50%;
        margin: auto;
        font-size: 16px;
    }
}
