.Header {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    padding: 10px 0;
  }
  
  .Mobile-Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .Laptop-Header {
        display: none;
    }

    .tablet-Header {
      display: none;
    }

    .logo {
      padding: 0;
    margin: 0;
    }

    .Hover:hover {
      border-bottom: 3px solid #005BFF;
    }
    
    button:hover {
      opacity: .5;
    }

    .Button-Menu {
      background: none;
      padding: 0;
      margin: 0;
      border: none;
    }


    
     @media (min-width: 960px) {
      .Mobile-Header {
        display: none;
      }

       .tablet-Header {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
       }

       .Options-Header {
         display: flex;
         align-items: center;
       }

       .Button-Header {
        background: none;
        border: none;
        color: #666666;
        font-weight: 500;
        margin: 3px 40px;
      }
     }
  
  
  @media (min-width: 1200px) {
    .Mobile-Header {
      display: none;
    }

    .tablet-Header {
      display: none;
    }
  
    .Laptop-Header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .Button-Header {
      background: none;
      border: none;
      color: #666666;
      margin: 0 40px;
    }

    .skyblue {
        background-color: var(--primary-color);
        border-radius: 4px;
        color: --main-color;
        padding: 14px 30px;
        color: var(--main-color);
    }
    
    .Register-Header {
      background-color: var(--main-color);
      border: none;
      border-radius: 4px;
      color: #ffffff;
      padding: 14px 30px;
    }
    
  }
  